# Project
.classpath
.project
.settings

# Generated
dist/
build/
target/
instrumented/
coverage/

# Dependencies
node_modules/
bower_components/

# mac crap
.DS_Store

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed